@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: #111;
  line-height: 1.6;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
header {
  background: #0d0d0d;
  padding: 20px 0;
  position: relative;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.logo span {
  color: #0f969c;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #0f969c;
}

/* Hero Section */
.hero-section {
  height: 100vh;
}
.hero-center {
  height: 80vh;
  display: flex;
  padding-top: 180px;
  padding-left: 150px;
  position: relative;
}

.hero-center::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-text {
  position: relative;
}

.hero-text h1 {
  font-size: 50px;
  margin: 20px 0;
}

.hero-text p {
  font-size: 18px;
  color: #111;
}

.btn {
  display: inline-block;
  background: #0f969c;
  padding: 10px 25px;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #0f969c;
}

/* Features */
.features {
  background-color: #fff;
  padding: 50px 0;
}

.features h1 {
  text-align: center;
  font-style: bold;
}
.feature-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.feature {
  flex: 1;
  margin: 10px;
  background: #111;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
}

.feature h3 {
  margin-bottom: 10px;
  color: #0f969c;
}

/* About Us */
.about {
  padding: 50px 0;
}

.about h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tabs {
  text-align: center;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.tabs .btn {
  background: #0f969c;
  border-radius: 5px;
}

.about-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.about-item {
  flex: 1;
  margin: 10px;
  background: #111;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
}

.about-item h3 {
  color: #0f969c;
  margin-bottom: 10px;
}
